In [1]:
import os

from datasets import load_dataset
import pandas as pd

while "notebooks" in os.getcwd():
    os.chdir("..")

from mim_nlp.preprocessing import Deduplicator

# Loading an open-source dataset

In [2]:
dataset = load_dataset("tweets_hate_speech_detection")

Found cached dataset tweets_hate_speech_detection (/home/jupyter-mbrzozowski/.cache/huggingface/datasets/tweets_hate_speech_detection/default/0.0.0/d8cea5e82c610e1675eee6632345085d81875565ea46d24bdcd5a7f382e335ad)

  0%|          | 0/2 [00:00<?, ?it/s]

In [3]:
dataset

DatasetDict({
    train: Dataset({
        features: ['label', 'tweet'],
        num_rows: 31962
    })
    test: Dataset({
        features: ['label', 'tweet'],
        num_rows: 17197
    })
})

In [4]:
dataset["train"]["tweet"][0]

'@user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run'

In [5]:
texts = dataset["train"]["tweet"]

# Load Deduplicator

In [6]:
deduplicator = Deduplicator()

# Clusterize partial duplicates

In [7]:
N = 1000
texts_sample = texts[:N]

In [8]:
%%time
clusters = deduplicator.clusterize_partial_duplicates(texts_sample)

CPU times: user 1.92 s, sys: 812 ms, total: 2.73 s
Wall time: 2.73 s

In [9]:
df = pd.DataFrame({"text": texts_sample, "cluster": clusters})

In [10]:
df.value_counts(["cluster"])

cluster
3          13
35          6
164         5
334         3
192         3
           ..
345         1
346         1
347         1
348         1
999         1
Name: count, Length: 966, dtype: int64

In [11]:
df[df["cluster"] == 35].head()

                                                  text  cluster
35   #taylorswift1989   bull up: you will dominate ...       35
196  #nohcarolina   bull up: you will dominate your...       35
254  #dreamcatcher   bull up: you will dominate you...       35
453  #poet   bull up: you will dominate your bull a...       35
638  #smaphone   bull up: you will dominate your bu...       35

# Eliminate partial duplicates

In [12]:
deduplicator.eliminate_partial_duplicates(df, "text")

                                                  text  cluster
0    @user when a father is dysfunctional and is so...        0
1    @user @user thanks for #lyft credit i can't us...        1
2                                  bihday your majesty        2
3    #model   i love u take with u all the time in ...        3
4               factsguide: society now    #motivation        4
..                                                 ...      ...
961  are you really   or just pretending to be?  #t...      995
962  i finally found a way how to delete old tweets...      996
963  @user what a #view #oregon   #poland #usa #uni...      997
964  have you put in your #vote yet? if you havent,...      998
965   @user next chapter in life stas soon, looking...      999

[966 rows x 2 columns]